{% extends "base.html" %}
{% load comments %}


<a href="{% url 'link_detail' pk=link.pk %}">
<b>{{ link.title }}</b>
 {% get_comment_count for link as comment_count %}
 {{ comment_count }} comment{{ comment_count|pluralize }}
</a>



{% block content %}
<style>
  #id_honeypot {
    display: none;
  }

</style>

    <div class="container">
		<br />
		<div class="panel panel-primary">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
        <div class="table-responsive">
                <h2><a href="{{ object.link }}">{{ object.title }}</a></h2>
                {% if object.submitter == user %}
                  <a href="{% url 'link_update' pk=object.pk %}">Edit</a> |
                  <a href="{% url 'link_delete' pk=object.pk %}">Delete</a>
                {% endif %}

                <div class="desc">
                  {{ object.description }}
                </div>

                <div class="comments">
                  <h3>Comments</h3>

                  <div class="comment_form">
                {% if user.is_authenticated %}
                  {% get_comment_form for object as form %}
                  <form action="{% comment_form_target %}" method="POST">
                    {% csrf_token %}
                    {{ form.comment }}
                    {{ form.honeypot }}
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <input type="hidden" name="name" value="{{ user }}" />
                    <input type="hidden" name="email" value="{{ user.email|default:'d@ummy.com' }}" />
                    <input type="hidden" name="url" value="" />
                    <input type="hidden" name="next"
                       value="{% url 'link_detail' pk=object.id %}" />
                    <input type="submit" class="btn btn-success" value="Add comment" id="id_submit" />
                  </form>
                {% else %}
  <p>Please <a href="{% url 'login' %}">log in
  </a> to leave a comment.</p>
{% endif %}
  </div>
</div>
        </div>
        </div>
        </div>


  {% render_comment_list for object %}
</div>


{% endblock %}